@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;1,100;1,500&family=Teko:wght@300;400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: Montserrat;
}
body {
  background: linear-gradient(165deg, #fafafa 60%, #ffffff 40%);
}
.con {
  /* background-color: aqua; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formbg-inner {
  position: relative;

  width: 40%;
  height: auto;
  /* border: 3px solid #000000; */
  margin: 0px auto;
  padding: 30px 30px;
  box-shadow: 1px 1px 10px 2px #808080;
}
.formbg-inner span {
  font-size: 25px;
}
form {
  width: 90%;
  height: auto;
  /* background-color: blanchedalmond; */
}
.d-fl {
  margin-top: 12px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
label {
  font-size: 20px;
  font-weight: 500;
}
.dis {
  margin: 10px auto 0px;
  font-display: 18px;
  display: flex;
  justify-content: space-between;
}
.same1 {
  margin-left: -5px;
  margin: 5px;
  width: 100%;
  height: 35px;
  border-radius: 4px;
}
.mar1 {
  margin: 10px auto;
}
.bgc {
  background-color: #383cc1;
  color: #ffffff;
  font-size: 20px;
  border: none;
}
.bgc:hover{
  cursor: pointer;
  transition: 0.5s;
  background-color: #120e43;
  
}
.mar2 {
  font-size: 17px;
  margin: 10px 20px;
  color: #383cc1;
  font-weight: 500;
}
.reset-pass {
  color: #383cc1;
  font-weight: 500;
}

.footer-link {
  /* background-color: blue; */
  width: 100%;
  height: auto;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upper h2 {
  margin: 10px auto 30px;
  font-size: 20px;
  font-weight: 600;
}
.upper h2 a {
  color: #383cc1;
}
.lower span {
  margin: 20px 20px;
}
.lower span a {
  color: #383cc1;
  font-weight: 600;
}

.in {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 20px;
}

.in h1 a {
  font-size: 40px;
  color: #383cc1;
}
.formbg-inner::before {
  content: "";
  height: 40px;
  width: 58%;
  background-color: #383cc1;
  position: absolute;
  left: -58%;
  margin-top: 60px;
  transform: rotate(170deg);
  top: 0;
}

.formbg-inner::after {
  content: "";
  height: 40px;
  width: 45%;
  background-color: #383cc1;
  position: absolute;
  left: 100%;
  margin-top: 200px;
  transform: rotate(170deg);
  top: 0;
 
}
form::before {
  content: "";
  height: 40px;
  width: 30%;
  background-color: #120e43;
  position: absolute;
  left: -80%;
  margin-top: 300px;
  transform: rotate(170deg);
  top: 0;
}
form::after {
  content: "";
  height: 40px;
  width: 28%;
  background-color: #dedede;
  position: absolute;
  left: 130%;
  margin-top: 216px;
  transform: rotate(170deg);
  top: 0;
  
}

.footer-link::after {
  content: "";
  height: 40px;
  width: 19%;

  background-color: transparent;
  border: 2px solid #dedede;
  position: absolute;
  left: 72%;
  margin-top: 15%;
  transform: rotate(170deg);
  top: 0;
}

input{
  font-size: 20px;
  color: #000000;
  padding-left: 15px;
}
